{% extends 'base.html' %}
{% block title %}Add Comments{% endblock %}

{% block content %}

{% if user.is_authenticated %}
    <h1>Add Comments...</h1>
    {{ user.id }}

    <br><br>


    <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-secondary">comments</button>
        </form>
    </div>
    <script>
        var name = '{{ user.id }}';
        document.getElementById('elder').value = name;
    </script>

    
{% else %}
    Permissão negada! É necessaria autenticação via Login !!!
{% endif %}


{% endblock %}