{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block content %}

<h1>Login...</h1>
<br><br>



    <form method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="form-group col-md-3">
                <input type="text" class="form-control" name="username" placeholder="usuário">
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-3">
                <input type="password" class="form-control" name="password" placeholder="senha">
            </div>
        </div>
        </div>
        <div class="container">

        <button class="btn btn-primary">login</button> 
        
        </div>



        
    </form>
    
</div>

{% endblock %}