{% extends 'base.html' %}
{% block title %}{{ post.titulo }}{% endblock %}


{% block content %}


	<h1>{{ post.titulo }}</h1>
	By : {{ post.autor }} 

	<small>
		{% if user.is_authenticated %}
			{% if user.id == post.autor.id %}
				- <a href="{% url 'update_post' post.pk %}">(Edit)</a>
				<a href="{% url 'delete_post' post.pk %}">(Delete)</a>
			{% endif %}
		{% endif %}
		<br>
		Última atualização {{ post.criacao }} as {{ post.hora }}
	</small>

	<br>
	<hr>

	<br>
	{% if post.header_title %}
		<img src="{{ post.header_title.url }}" width="650" height="500">
	{% endif %}


	<br><br>
	{{ post.body|safe }}
	<br><br>
	<a href="{% url 'index' %}" class="btn btn-secondary">Voltar</a>


	<br><br>
	<hr>



	<form action="{% url 'like_post' post.pk %}" method="POST">
		{% csrf_token %}
	{% if user.is_authenticated %}
		{% if liked %}
			<button type="submit", name='post_id', value="{{ post.id }}" class="btn btn-danger btn-sm">Unlike</button> 
		{% else %}
			<button type="submit", name='post_id', value="{{ post.id }}" class="btn btn-primary btn-sm">Like</button> 
		{% endif %}

	{% else %}
		<small>
			<a href="{% url 'login' %}">Login</a>
			para Likes
		</small>
	{% endif %}

		- {{ total_likes }} Likes

	</form>
<br><br>
<div class="card mb-3">
	<div class="row no-gutters">
		<div class="col-md-2">
			<img src="{{ post.autor.profile.profile_pic.url }}" class="card-img">
		</div>
		<div class="col-md-10">
			<div class="card-body">
				<h5 class="card-title">{{ post.autor }}</h5>

				<p class="small text-muted">
					{% if post.autor.profile.facebook %}
						| <a href="{{ post.autor.profile.facebook }}">FaceBook </a> 
					{% endif %}

					{% if post.autor.profile.twitter %}
						| <a href="{{ post.autor.profile.twitter }}">Twitter</a> 
					{% endif %}

					{% if post.autor.profile.instagram %}
						| <a href="{{ post.autor.profile.instagram }}">Instagram</a> 
					{% endif %}

					{% if post.autor.profile.linkedin %}
						| <a href="{{ post.autor.profile.linkedin }}">Linkedin</a>
					{% endif %} 
				</p>

				<p class="card-text">{{ post.autor.profile.bio }}</p>

				<p class="card-text"><small class="text-muted">Last Update</small></p>		
			</div>
		</div>
	</div>
</div>


{% endblock %}

