{% extends 'base.html' %}
{% block content %}


<ul>

<hr>
{% for post in object_list %}


{% if post.autor.profile.id %}
        <a class="badge badge-pill badge-primary" href="{% url 'show_profile_page' post.autor.profile.id %}">@{{ post.autor }}</a>
{% else %}
        <a class="badge badge-pill badge-primary">@{{ post.autor }}</a>
{% endif %}
-
<a class="text-muted " href="{% url 'post_detail' post.pk %}">
     {{ post.titulo }} </a>   <small class="d-block text-right">{{ post.criacao }}</small>

    <hr>

{% endfor %}
 

{% endblock %}